/* Josh Comeau's CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* non-reset styling */
  font-family: Roboto;
  color: black;
  background-color: rgb(238, 240, 244);
  overscroll-behavior: none;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input {
  display: block;
  background-color: rgb(238, 240, 244);
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 17px;
  width: 100%;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

label {
  font-weight: bold;
}
.general-info,
.education,
.professional {
  background-color: white;
  margin: 48px;
  padding: 48px;
  border-radius: 14px;
  box-shadow: 0px 0px 10px grey;
  max-width: 600px;
  height: fit-content;
}

.section-container {
  grid-column: 1/2;
  grid-row: 1/2;
}

.general-info, .education {
  margin-bottom: 0px;
}

.general-info {
  grid-row: 1/2;
}

.education {
  grid-row: 2/3;
}

.professional {
  grid-row: 3/4;
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  resize: none;
  outline: none;
  border-radius: 7px;
  padding: 10px;
  background-color: rgb(238, 240, 244);
  border: none;
  margin-bottom: 17px;
}

.cv {
  background-color: white;
  position: sticky;
  top: 48px;
  box-shadow: 0px 0px 10px grey;
  /* border-radius: 14px; */
  padding: 48px;
  margin: 48px;
  margin-left: 0px;
  font-family: Space Mono;
  grid-column: 2/3;
  max-height: 650px;
}

.cv-name {
  font-size: 30px;
  font-weight: bold;
  justify-self: center;
}

.subheader {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.section-title {
  font-weight: bold;
  font-size: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.cv-degree, .cv-company {
  font-style: italic;
}

.section-inline {
  display: flex;
  justify-content: space-between;
}

.education-section {
  margin-bottom: 25px;
}

.cv-description {
  margin-top: 18px;
}
button {
  /* background-color: rgb(211, 55, 84); */
  background-image: linear-gradient(to bottom right, rgb(211, 55, 84), rgb(174, 100, 25));
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}
